<html>
  <head>
    <title>Division summary for <%= @date %> </title>
  </head>

  <body>
    Found <%= @number_of_divisions  %> divisions today:

    <ul>
      <%= @divisions %>
    </ul>
    Go back to the <a href="/">list of dates</a>.
  </body>
</html>
