body {
  font-family: 'Old Standard TT', arial, serif;
  margin: 0;
  padding: 0;
}
#content {
  width: 75%;
  margin: 0 auto;
}
#left {
  float: left;
  width: 50%;
}
#right {
  float: right;
  width: 50%;
}
